/**
 * Main
 * =================================
 * Main should just be a few specific edits tailwind couldn't handle / anything that didn't need a full partial.
 *
 *
 */

.ruda {
  font-family: 'Ruda', 'sans-serif'
}

.roboto {
  font-family: 'Roboto Slab', 'serif';
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

