h1 {
  font-size: 2em;
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}



.ruda {
  font-family: 'Ruda', 'sans-serif'
}

.roboto {
  font-family: 'Roboto Slab', 'serif';
}

